<% layout('/layouts/mainTemplate') %>

<h1>Add new astronaut</h1>
<div>
  <form action="/astronauts/<%= isEditing ? `${astronaut._id}?_method=PUT` : 'add' %>" method="POST">
    <label for="firstName">Firstname: </label>
    <input
      type="text"
      id="firstName"
      name="astronaut[firstName]"
      required
      <% if(isEditing) { %>
        value="<%= astronaut.firstName %>"
        <% } %>  
    /><br />
    <label for="lastName">Lastname: </label>
    <input
      type="text"
      id="lastName"
      name="astronaut[lastName]"
      required
      <% if(isEditing) { %>
        value="<%= astronaut.lastName %>"
        <% } %>  
    /><br />
    <label for="birthday">Birthday: </label>
    <input
      type="date"
      id="birthday"
      name="astronaut[birthday]"
      required
      <% if(isEditing) { %>
        value="<%= astronaut.birthday.toISOString().slice(0,10) %>"
        <% } %>  
    /><br />
    <label for="superpower">Superpower: </label>
    <input
      type="text"
      id="superpower"
      name="astronaut[superpower]"
      required
      <% if(isEditing) { %>
        value="<%= astronaut.superpower %>"
        <% } %>  
    /><br />
    <button type="Submit">Save</button>
  </form>
</div>
<div>
  <a href="/astronauts/all">Go back</a>
</div>
