<% layout('/layouts/mainTemplate') %>

<h1 class="mb-5 mt-1">All your astronauts</h1>
<div class="table-responsive-md">
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Birthday</th>
        <th scope="col">Superpower</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < astronauts.length; i++){ %>
      <tr>
        <th scope="row"><%= i+1 %></th>
        <td><%= astronauts[i].firstName %></td>
        <td><%= astronauts[i].lastName %></td>
        <td><%= astronauts[i].birthday.toLocaleDateString('en-US') %></td>
        <td><%= astronauts[i].superpower %></td>
        <td>
          <a
            class="btn btn-sm btn-outline-dark"
            href="/astronauts/<%= astronauts[i]._id %>/edit"
            ><i class="bi bi-pencil-square"></i
          ></a>
          <form
            class="d-inline"
            action="/astronauts/<%= astronauts[i]._id %>/?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-sm btn-outline-dark" type="submit">
              <i class="bi bi-trash"></i>
            </button>
          </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-end">
  <a class="btn btn-dark" href="/astronauts/add">Add new astronaut</a>
</div>
