<% layout('/layouts/mainTemplate') %>

<h1>Register</h1>

<form action="/register" method="POST">
  <label for="username">Username:</label>
  <input
    type="text"
    id="username"
    placeholder="Enter your username"
    name="user[username]"
    value="<%= username ? username : "" %>"
    required
  /><br />
  <% if(errors.find(error => error.param === "user.username")) { %>
  <p><%= errors.filter(error => error.param === 'user.username')[0].msg %> </p>
  <% } %>  
  <label for="email">Email:</label>
  <input
    type="email"
    id="email"
    placeholder="Enter your email"
    name="user[email]"
    value="<%= email ? email : "" %>" 
    required
  /><br />
  <% if(errors.find(error => error.param === "user.email")) { %>
    <p><%= errors.filter(error => error.param === 'user.email')[0].msg %> </p>
  <% } %>  
  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    placeholder="Enter your password"
    name="user[password]"
    required
  /><br />
  <% if(errors.find(error => error.param === "user.password")) { %>
    <p><%= errors.filter(error => error.param === 'user.password')[0].msg %> </p>
  <% } %>  
  <label for="passwordConfirmation">Password confirmation:</label>
  <input
    type="password"
    id="passwordConfirmation"
    placeholder="Enter your password again"
    name="user[passwordConfirmation]"
    required
  /><br />
  <% if(errors.find(error => error.param === "user.passwordConfirmation")) { %>
    <p><%= errors.filter(error => error.param === 'user.passwordConfirmation')[0].msg %> </p>
  <% } %>  
  <button type="submit">Register</button>
</form>
